<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://eldiario.deljuego.com.ar/images/stories/Notas/00__2014/04/03/bolas-blancas1.png">

    <title>Loteria</title>

    <!-- Latest compiled and minified CSS -->
	  <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Loteria!</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <li class=""><a href="/">Home <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">P</a></li>
              <li><a href="/">Y</a></li>
              <li><a href="/">T</a></li>
              <li><a href="/">H</a></li>
              <li><a href="/">O</a></li>
              <li><a href="/">N</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="jumbotron col-xs-12">
        <div class="container">
          <div class="col-xs-12">
            <script type="text/javascript">
            window.setInterval (BlinkIt, 500);
            var color = "red";
            function BlinkIt () {
            var blink = document.getElementById ("blink");
            color = (color == "#ffffff")? "Blue" : "#ffffff";
            blink.style.color = color;
            blink.style.fontSize='36px';}
            </script>
            <div id="blink"><h1 class="text-center">Loteria</h1></div>
            <div id="blink" onclick="parent.location='http://norfipc.com'">
            </div>
            <p class="lead text-center">Click to start</p>
          </div>
      		<div class="col-xs-offset-4 col-xs-4">
            <form action="/draw">
            <input type="submit" value="begin" class="btn btn-info text-center btn-block">
          </form>  
          </div>
        </div>
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>-->
      </div>

      <div class="row marketing">
      </div>

      <footer class="footer">
        <p>&copy; Python 101</p>
      </footer>

    </div> <!-- /container -->

	<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>